---
import { getCollection, render } from "astro:content";
import Base from "../layouts/Base.astro";

export async function getStaticPaths() {
    const pages = await getCollection("pages");

    return pages.map((page) => ({
        params: { page: page.id },
        props: { page },
    }));
}

const { page } = Astro.props;
const url = page.data.url ?? (page.data.repo && `https://github.com/${page.data.repo}`);
const { Content } = await render(page);
---

<Base title={page.data.title}>
    <article>
        <h1>{page.data.title}</h1>
        {url && <a href={url}>{url}</a>}
        <Content />
    </article>
</Base>
