---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Base from "../layouts/Base.astro";

export async function getStaticPaths() {
    const projects = await getCollection("projects");

    return projects.map((project) => ({
        params: { project: project.id },
        props: { project },
    }));
}

const { project } = Astro.props;
const url = project.data.url ?? (project.data.repo && `https://github.com/${project.data.repo}`);
---

<Base title={project.data.title}>
    <article>
        <h1>{project.data.title}</h1>
        {url && <a href={url}>{url}</a>}
        <Image
            class="product-image"
            src={project.data.cover}
            alt={project.data.title}
            quality="100"
            format="png"
        />
        <p>
            Categories: {project.data.categories.map((cat) => <>{cat + " "}</>)}
        </p>
        <p>{project.data.summary}</p>
    </article>
</Base>
