---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Base from "../layouts/Base.astro";

const projects = (await getCollection("projects")).sort(
    (a: any, b: any) => a.data.order - b.data.order,
);
---

<Base title="Surge Synth Team | Projects">
    <div class="grid">
        <header>
            <p class="font-blinker bg-zinc-950 pt-2 text-justify text-xl max-w-xl place-self-center leading-none text-surge-orange">
                The Surge Synth Team is a group of musicians, developers, testers, documenters, and
                general volunteer open source enthusiasts who randomly assembled to work on the
                Surge Synthesizer. As the Surge project became more successful, and we kept having
                fun, we decided to branch out into other things too!
            </p>
        </header>
        {
            projects.map((project: any, index: number) => (
                <div
                    class={`grid grid-flow-col-dense grid-cols-2 items-center p-8 ${index % 2 === 0 ? "bg-black text-zinc-100" : "bg-surge-orange text-zinc-900"}`}>
                    <a
                        href={project.data.url}
                        class={`w-full ${index % 2 === 1 ? "col-start-2 col-end-3" : ""}`}>
                        <Image
                            alt={project.data.title}
                            src={project.data.cover}
                            quality="100"
                            format="png"
                            class="h-auto w-full rounded-md shadow-xl"
                        />
                    </a>
                    <div
                        class={`flex h-full flex-col items-center justify-center p-4 ${index % 2 === 1 ? "col-start-1 col-end-2" : ""}`}>
                        <a
                            class={`font-blinker text-xl font-bold ${index % 2 === 0 ? "hover:text-surge-orange text-zinc-100" : "text-zinc-900 hover:text-white"}`}
                            href={project.data.url}>
                            {project.data.title}
                        </a>
                        <p class="text-justify">{project.data.summary}</p>
                    </div>
                </div>
            ))
        }
    </div>
</Base>
