---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import Logo from "../images/logo.svg";

const projects = (await getCollection("projects")).sort(
    (a: any, b: any) => a.data.order - b.data.order,
);
---

<BaseLayout title="Surge Synth Team">
    <div class="grid max-w-4xl gap-6">
        <header class="flex flex-col items-center justify-center gap-6 md:flex-row">
            <Image class="self-center" alt="SST Logo" src={Logo} />
            <p class="prose text-justify text-sm text-pretty prose-neutral dark:prose-invert">
                The Surge Synth Team is a group of musicians, developers, testers, documenters, and
                general volunteer open source enthusiasts who randomly assembled to work on the
                Surge Synthesizer. As the Surge project became more successful, and we kept having
                fun, we decided to branch out into other things too!
            </p>
        </header>

        <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
            {
                projects.map((project: any) => (
                    <div class="flex flex-col place-content-between gap-6 rounded-lg bg-bg-2-light p-4 shadow-lg dark:bg-bg-2">
                        <a class="link self-center text-xl font-semibold" href={project.data.url}>
                            {project.data.title}
                        </a>
                        <a href={project.data.url}>
                            <Image
                                class="m-0 rounded-lg shadow-xl shadow-neutral-400 dark:shadow-neutral-900"
                                alt={project.data.title}
                                src={project.data.cover}
                                quality="100"
                                format="png"
                            />
                        </a>
                        <p class="prose self-center text-center text-pretty prose-neutral dark:prose-invert">
                            {project.data.summary}
                        </p>
                    </div>
                ))
            }
        </div>
    </div>
</BaseLayout>
