---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Logo from "../images/logo.svg";
import Base from "../layouts/Base.astro";

const projects = (await getCollection("projects")).sort((a, b) => a.data.order - b.data.order);
---

<Base title="Home">
    <div class="flex items-center justify-center gap-4 p-4">
        <Image alt="SST Logo" src={Logo} class="hidden max-w-xs object-contain sm:block" />
        <p class="max-w-md text-justify text-sm font-bold">
            The Surge Synth Team is a group of musicians, developers, testers, documenters, and
            general volunteer open source enthusiasts who randomly assembled to work on the Surge
            Synthesizer. As the Surge project became more successful, and we kept having fun, we
            decided to branch out into other things too!
        </p>
    </div>
    <div>
        {
            projects.map((project, index) => {
                const isEven = index % 2 === 0;

                return (
                    <div
                        class={`flex flex-col items-center gap-4 p-4 sm:gap-6 sm:p-6 md:gap-12 md:p-12 ${
                            isEven
                                ? "flex-row items-center bg-surge-orange text-neutral-900"
                                : "flex-row-reverse"
                        }`}>
                        <a href={`/${project.id}`} class="w-1/2 shrink-0">
                            <Image
                                alt={project.data.title}
                                src={project.data.cover}
                                quality="100"
                                format="png"
                                class="product-image"
                            />
                        </a>
                        <div class="">
                            <a
                                class={`text-3xl font-bold ${isEven ? "text-neutral-900 hover:text-neutral-700" : ""}`}
                                href={
                                    (project.data.url ?? null)
                                        ? `${project.data.url}`
                                        : `/${project.id}`
                                }>
                                {project.data.title}
                            </a>
                            <p class="text-justify">{project.data.summary}</p>
                        </div>
                    </div>
                );
            })
        }
    </div>
</Base>
