---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Logo from "../images/logo_sst_white.svg";
import Base from "../layouts/Base.astro";

const projects = (await getCollection("projects")).sort(
    (a: any, b: any) => a.data.order - b.data.order,
);
---

<Base title="Surge Synth Team | Projects">
    <div class="bg-black text-zinc-50">
        <div class="flex">
            <Image alt="SST Logo" src={Logo} class="hidden w-1/2 object-contain p-4 sm:block" />
            <p class="w-full p-4 text-sm text-justify sm:w-1/2">
                The Surge Synth Team is a group of musicians, developers, testers, documenters, and
                general volunteer open source enthusiasts who randomly assembled to work on the
                Surge Synthesizer. As the Surge project became more successful, and we kept having
                fun, we decided to branch out into other things too!
            </p>
        </div>

        {
            projects.map((project: any, index: number) => {
                const isEven = index % 2 === 0;

                return (
                    <div
                        class={`flex flex-col items-center gap-4 p-4 sm:gap-6 sm:p-6 md:gap-12 md:p-12 ${
                            isEven
                                ? "flex-row items-center bg-surge-orange text-zinc-950"
                                : "flex-row-reverse bg-zinc-50 text-zinc-950 dark:bg-zinc-950 dark:text-zinc-50"
                        }`}>
                        <a href={`/${project.id}`} class="w-1/2 shrink-0">
                            <Image
                                alt={project.data.title}
                                src={project.data.cover}
                                quality="100"
                                format="png"
                                class="product-image"
                            />
                        </a>

                        <div class="">
                            <a
                                class={`text-3xl font-bold ${
                                    isEven
                                        ? "text-zinc-950 hover:text-zinc-50"
                                        : "text-zinc-950 hover:text-surge-orange dark:text-zinc-50"
                                }`}
                                href={`/${project.id}`}>
                                {project.data.title}
                            </a>
                            <p class="text-justify">{project.data.summary}</p>
                        </div>
                    </div>
                );
            })
        }
    </div>
</Base>
