---
const { title, summary, href, src } = Astro.props;
---

<div class="bg-backgroundCard grid gap-6 rounded-3xl p-8">
    <div class="flex flex-col place-content-between gap-4">
        <h2>
            <a class="no-underline" href={href}>{title}</a>
        </h2>
        <a href={href}>
            <img
                class="select-none rounded-xl bg-transparent shadow-xl shadow-neutral-600 dark:shadow-black"
                src={src}
            />
        </a>
    </div>
    <p class="self-end text-center">{summary}</p>
</div>
