---
import { ClientRouter } from "astro:transitions";
import { getCollection } from "astro:content";
import "./base.css";

interface Props {
    title: string;
}

const { title } = Astro.props;

const navLinks = [
    ["Home", "/"],
    ["Open Source", "/open-source"],
    ["Contact", "/contact"],
    ["GitHub", "https://github.com/surge-synthesizer"],
] as const;

const projects = (await getCollection("projects")).sort(
    (a: any, b: any) => a.data.order - b.data.order,
);
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="author" content="Surge Synth Team" />
        <meta
            name="description"
            content="We maintain and contribute to awesome open source audio plugins!"
        />
        <meta property="og:url" content={Astro.url.href} />
        <meta property="og:title" content={title} />
        <meta
            property="og:description"
            content="We maintain and contribute to awesome open source audio plugins!"
        />
        <meta property="og:image" content="https://surge-synth-team.org/images/og_image.png" />
        <meta
            property="og:image:secure_url"
            content="https://surge-synth-team.org/images/og_image.png"
        />
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="600" />
        <meta property="ig:image:alt" content="Surge Synth Team" />
        <meta property="og:type" content="website" />
        <link rel="icon" href="/favicon.ico" />
        <link
            rel="preload"
            href="/fonts/Lato-Regular.woff"
            as="font"
            type="font/woff"
            crossorigin
        />
        <link rel="preload" href="/fonts/Lato-Italic.woff" as="font" type="font/woff" crossorigin />
        <title>{title}</title>
        <script is:inline>
            function setTheme() {
                !localStorage.getItem("theme") && localStorage.setItem("theme", "auto");

                switch (localStorage.getItem("theme")) {
                    case "auto":
                        window.matchMedia("(prefers-color-scheme: dark)").matches
                            ? document.documentElement.setAttribute("data-theme", "dark")
                            : document.documentElement.setAttribute("data-theme", "light");
                        break;

                    case "dark":
                        document.documentElement.setAttribute("data-theme", "dark");
                        break;

                    case "light":
                        document.documentElement.setAttribute("data-theme", "light");
                        break;
                }
            }

            function setThemeSelection() {
                document.getElementById("theme-select").value = localStorage.getItem("theme");
            }

            setTheme();

            document.addEventListener("readystatechange", (event) => {
                if (event.target.readyState === "interactive") {
                    setThemeSelection();
                }
            });

            document.addEventListener("astro:after-swap", () => {
                setTheme();
                setThemeSelection();
            });
        </script>
        <ClientRouter />
    </head>

    <body class="bg-zinc-50 text-zinc-950 dark:bg-zinc-950 dark:text-zinc-50">
        <nav id="nav" class="sticky top-0 bg-zinc-950 p-1 shadow-md">
            <div
                class="flex flex-wrap items-center justify-center gap-1 divide-x divide-surge-orange/50">
                <select
                    aria-label="Project"
                    name="projects"
                    id="project-select"
                    class="ml-2 rounded-md border border-surge-orange/50 bg-zinc-950 font-semibold text-surge-orange hover:border-surge-orange-bright/50 hover:text-surge-orange-bright">
                    {
                        projects.map((project) => {
                            return <option value={project.id}>{project.id}</option>;
                        })
                    }
                </select>
                {
                    navLinks.map(([title, href]) => (
                        <a
                            href={href}
                            class="px-2 text-nowrap text-surge-orange no-underline hover:text-surge-orange-bright">
                            {title}
                        </a>
                    ))
                }
                <select
                    aria-label="Theme"
                    name="themes"
                    id="theme-select"
                    class="ml-2 rounded-md border border-surge-orange/50 bg-zinc-950 font-semibold text-surge-orange hover:border-surge-orange-bright/50 hover:text-surge-orange-bright">
                    <option value="auto">System</option>
                    <option value="dark">Dark</option>
                    <option value="light">Light</option>
                </select>
            </div>
        </nav>

        <slot />
    </body>
</html>

<script>
    function setup() {
        const themeSelect = document.getElementById("theme-select") as HTMLSelectElement;

        themeSelect.addEventListener("change", () => {
            localStorage.setItem("theme", themeSelect.value);

            switch (themeSelect.value) {
                case "auto":
                    window.matchMedia("(prefers-color-scheme: dark)").matches
                        ? document.documentElement.setAttribute("data-theme", "dark")
                        : document.documentElement.setAttribute("data-theme", "light");
                    break;

                case "dark":
                    document.documentElement.setAttribute("data-theme", "dark");
                    break;

                case "light":
                    document.documentElement.setAttribute("data-theme", "light");
                    break;
            }
        });

        const projectSelect = document.getElementById("project-select") as HTMLSelectElement;

        projectSelect.addEventListener("change", () => {
            window.location.href = `/${projectSelect.value}`;
        });
    }

    document.addEventListener("astro:after-swap", setup);
    setup();
</script>
